body {
    font-family: Geneva;
    font-size: 17px;
    background: #f4f4f4;
    line-height: 1.5em;
    }
header, footer {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 4px #000 solid ;
    margin-bottom: 10px;
}